<div style="text-align:center">
<!--<h3><%= @post.id %>번 사진 입니다.</h3>-->
<h2>제목: <%= @post.title %></h2>

<br>
<p> <%= @post.content %></p>


<!--<%= @post.image_url_identifier %> :-->
<%= image_tag @post.image_url.url %>
 <hr>
    <h3>댓글쓰기</h3>    
    <form action='/posts/show/<%= @post.id %>/comments/create' method="post">
        <input type='text' name='input_comment'>
        <input type='submit'>
    </form>

<hr>


<hr>
댓글
<hr>

<% @comments.each do |comment| %><hr>
<p>
    
    -> <%= comment.content %>
    <a href='/posts/show/<%= @post.id %>/comments/destroy/<%= comment.id %>' 
    data-method='post'
    data-confirm='댓글을 삭제합니다.'> 
    [x]
    </a>
   </p>
<% end %>

<hr>
<h3><a href="/">[목록으로 가기]</a></h3>
<h3><a href="/posts/edit/<%= @post.id %>">[수정]</a></h3>
<h3><a href="/posts/destroy/<%= @post.id %>" data-confirm="진짜로 삭제하시겠어요?" data-method="post">[삭제]</a></h3>
</div>